.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 50%;
}

.header>.logo {
    width: 100px;
    height: 100px;
}

.header>h2 {
    letter-spacing: 3px;
}